<h1>Book your test ride</h1>

<div>
    <p><label>Ride date</label><input type="datetime" ng-model="testRide.rideDate"></p>
    <p><label>First name</label><input type="text" ng-model="user.name"></p>
    <p><label>Last name</label><input type="text" ng-model="user.surname"></p>
    <p><label>Phone number</label><input type="text" ng-model="user.phone"></p>
    <p><label>Email</label><input type="email" ng-model="user.email"></p>

    <button type="submit" ng-click="saveTestRide(user, testRide)">Submit</button>
</div>