<div style="text-align: center">
    <h1><strong>Create user</strong></h1> <br/>
    <div class="row">
        <div class="col-sm-6" style="text-align: right">
            <p><label>Name:</label></p>
            <p><label>Surname:</label></p>
            <p><label>Email:</label></p>
            <p><label>Password:</label></p>
            <p><label>Repeat your password:</label></p>
        </div>
        <div class="col-sm-6" style="text-align: left">
            <p><input type="text" ng-model="user.name"></p>
            <p><input type="text" ng-model="user.surname"></p>
            <p><input type="text" ng-model="user.email"></p>
            <p><input type="text" ng-model="user.password"></p>
            <p><input type="text" ng-model="user.passwordRepeat"></p>
            <button class="btn btn-success" ng-click="createUser()">Create</button> <br/><br/>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-danger" ng-click="getAllUsers()">Show all users</button>
        <ol>
            <li ng-repeat="user in allUsers">{{user}}</li>
        </ol>
    </div>
</div>