<link href="css/subpages.css" rel="stylesheet">

<div style="text-align: center">
    <h1><strong>Book your test ride</strong></h1>

    <div>
        <br/><br/>
        <div class="row">
            <div class="col-sm-3"><br/></div>
            <div class="col-sm-1"><img src="/img/cars/car1.png"/></div>
            <div class="col-sm-3" style="text-align: right">
                <p><label>Ride date:&nbsp;</label></p>
                <p><label>First name:&nbsp;</label></p>
                <p><label>Last name:&nbsp;</label></p>
                <p><label>Phone number:&nbsp;</label></p>
                <p><label>Email:&nbsp;</label></p>
                <p><label>Select car:&nbsp;</label></p>
            </div>
            <div class="col-sm-5" style="text-align: left">
                <p><input ng-model="testRide.rideDate" bs-datepicker></p>
                <p><input type="text" ng-model="user.name"></p>
                <p><input type="text" ng-model="user.surname"></p>
                <p><input type="text" ng-model="user.phone"></p>
                <p><input type="email" ng-model="user.email"></p>
                <p>
                    <button type="button" class="btn btn-default" ng-model="selectedCar" data-html="1"
                            data-toggle="true"
                            bs-options="car as car.model for car in cars" bs-select>
                        Action <span class="caret"></span>
                    </button>
                </p>
                <p><strong>To find a car quicker, insert some key words</strong><br/>
                    <i class="fa fa-search" aria-hidden="true"></i> &nbsp; <input type="text" ng-model="filter"> <br/><br/>
                <button type="submit" class="btn btn-primary" ng-click="saveTestRide(user, testRide, selectedCar)">
                    Submit
                </button>
                </p>
            </div>
        </div>
    </div>
    <br/><br/><br/>

    <a href="#!/test-ride/all">
        <button class="btn btn-success">Show all test Rides</button>
    </a>
</div>